<li id="quizz_<%= quizz.id.to_s %>" class="quizz <%= class_if(quizz.is_open?, 'open', 'closed') %>">
  <p class="quizz-details"><%= link_to_quizz_time(quizz) %></p>
  <h3><%= avatar_for_user( quizz.user, :thumb ) %><em> <%= link_to_user(quizz.user) %></em> quizzed:</h3>
  <p class="question"><%= quizz.question %></p>
  <div class="answers-count">has <%= link_to_quizz_answers(quizz) %></div>
</li>