<li id="quizz_<%= quizz.id.to_s %>" class="quizz <%= class_if(quizz.is_open?, 'open', 'closed') %>">
  <p class="quizz-details"><%= link_to_quizz_time(quizz) %></p> 
  <p class="question"><%= quizz_parser(quizz.question) %></p>
	<ul class="clues-list">
		<%= render :partial => 'clue', :collection => quizz.clues %>
	</ul>
  	<%= winner_for_quizz(quizz) %>
  <div class="answers-count"><%= link_to_quizz_clues(quizz) %> and <%= link_to_quizz_answers(quizz) %></div>
</li>