<li id="quizz_<%= quizz_answered_by.id.to_s %>" class="quizz <%= class_if(quizz_answered_by.is_won_by?(@user), 'right', 'wrong') %>">
  <%= avatar_for_user( quizz_answered_by.user, :thumb ) %>
  <div class="quizz-main in-home">
	  <h3><%= link_to_user(quizz_answered_by.user) %></h3>
	  <p class="quizz-details"><%= link_to_quizz_time(quizz_answered_by) %></p>
	  <p class="question"><%= quizz_parser(quizz_answered_by.question) %></p>
	  <%= answer_by_user_for_quizz(quizz_answered_by, @user) %>
	  <div class="answers-count">has <%= link_to_quizz_answers(quizz_answered_by) %></div>
  </div>
</li>