<li id="quizz_<%= quizz.id.to_s %>" class="quizz <%= quizz.status(@me) if !@me.nil? %> <%= !quizz.is_open? ? quizz.is_ok(@me) : '' %>">
	<p class="quizz-details">
		<% if quizz.is_open? %>
			<%= distance_of_time_in_words_to_now(quizz.open_until) %> to close
		<% else %>
			<%= time_ago_in_words(quizz.created_at) %> ago
		<% end %>
	</p>
	<h3><%= avatar_for_user( quizz.user, :thumb ) %><em> <%= link_to quizz.user.login, '/' + quizz.user.login %></em> quizzed:</h3>
	<p class="question"><%= link_to_quizz(quizz) %></p>
	<% if quizz.is_single? %>
		<%= render :partial => 'response_form', :object => quizz %>
	<% else %>
	<ul class="options">
		<% quizz.randomized_options.each do |option| %>
		<li class="option">
			<%= link_to_if (quizz.is_open? & (!quizz.is_responded?(@me) if !@me.nil? ) ), option, url_for( :controller => 'responses', :action => 'create', :id => quizz.id, :response => quizz.randomized_options.index(option) + 1 ), :method => :post %>
		</li>
		<% end %>
	</ul>
	<% end %>
	<% if !quizz.is_open? %>
		<p class="quizz-responsescount">Responses: <%= link_to_quizz(quizz, 'responses') %></p>
	<% end %>
</li>
