<div id="main-col">
  <div id="quizz_box">
    <% form_tag url_for( :controller => 'quizzs', :action => 'create' ), :id => 'form_quiz' do -%>
      <p><label for="question">Question</label>
	  <textarea name="question" id="styled" class="emptyme" cols="45" rows="2">Quizz it here</textarea>
	  </p>
      <p><label for="correct">Answer</label>
      <%= text_field_tag 'correct_answer' %></p>
	  <p id='quizz_submit'><%= image_submit_tag('button-quizz.png')%></p>
    <% end -%>
  </div>
  <ul id="quizzs_tab" class='tabulation'>
	<li>Show Quizzs</li>
	<li><%= link_to 'All', url_for( :filter => nil ), :class => (params[:filter].nil? ? 'active' : '') %></li>
	<li><%= link_to 'Open', url_for( :filter => 'open' ), :class => (params[:filter] == 'open' ? 'active' : '') %></li>
	<li><%= link_to 'Won', url_for( :filter => 'won' ), :class => (params[:filter] == 'won' ? 'active' : '') %></li>
	<li><%= link_to 'Failed', url_for( :filter => 'failed' ), :class => (params[:filter] == 'failed' ? 'active' : '') %></li>
  </ul>
  <ul id="quizzs_list">
    <%= render :partial => 'quizz', :collection => @quizzs %>
  </ul>
  <%= will_paginate(@quizzs) %>
</div>
<%= render :partial => '/user_info', :object => @me %>