<div id="quizz-col">
  <div id="form_quizz">
    <% form_tag url_for( :controller => 'quizzs', :action => 'create' ) do -%>
      <p><label for="question">Question</label>
      <%= text_area_tag 'question', 'quizz it here!', :size => '55x2' %></p>
      <p><label for="correct">Correct Answer</label>
      <%= text_field_tag 'correct_answer' %></p>
      <p><%= submit_tag 'Quizz' %></p>
    <% end -%>
  </div>
  <ul id="quizzlist">
    <%= render :partial => 'quizz', :collection => @quizzs %>
  </ul>
</div>
<%= render :partial => '/user_info', :object => @me %>