<li id="answer_<%= answer.id.to_s %>" class="answer <%= answer.is_ok? %>">
    <span><%= avatar_for_user( answer.user, :micro ) %> <%= link_to_user(answer.user) %> answered <strong><%= answer.text %></strong> <%= time_ago_in_words(answer.created_at) %> ago</span>
</li>