<li id="quizz_<%= quizz.id.to_s %>" class="quizz <%= quizz.is_open? ? 'open' : 'closed' %>">
  <p class="quizz-details">quizzed <%= link_to_quizz_time(quizz) %></p>
  <h3><%= avatar_for_user( quizz.user, :thumb ) %><em> <%= link_to_user(quizz.user) %></em></h3>
  <p class="question"><%= quizz.question %></p>
  <%= response_action_for_quizz(quizz) %>
</li>