<li id="response_<%= response.id.to_s %>" class="response <%= response.is_ok %>">
    <span><%= avatar_for_user( response.user, :micro ) %> <%= link_to_user(response.user) %> answered: <strong><%= response.text %></strong></span>
</li>