<div id="main-col">
	<%= render :partial => 'account_submenu' %>
	<%= error_messages_for :user %>
	<% form_for( :user, :url => url_for( :action => 'update_twitter_profile' ), :html => {:id => 'account_edit', :class => 'main-form tabbed-form'} ) do |f| -%>
	<h2><%= image_tag 'twitter_64x64.png', :alt => 'twitter-icon' %> Twitter</h2>
	  <p>
	    <label for="twitter_account">Username</label>
	    <%= f.text_field :twitter_username  %>
	  </p>
	  <p>
	    <label for="twitter_password">Password</label>
	    <%= f.password_field :twitter_password %>
	  </p>
	  <p class="form-submit">
		<%= image_submit_tag('button-connect.png') %>
		<% if !@user.twitter_username.nil? %>
			<%= link_to image_tag('button-disconnect.png' ), url_for( :action => 'reset_twitter_profile' ), :method => :delete %>
		<% end %>
	  </p>
	<% end -%>
</div>