<div id="main-col">
	<%= render :partial => 'account_submenu' %>
	<%= error_messages_for :avatar %>
	<% form_for(:avatar, :url => url_for( :action => 'update_avatar' ), :html => { :multipart => true , :id => 'account_edit', :class => 'main-form tabbed-form'} ) do |f| -%>
	  <%= avatar_for_user( @me ) %>
	  <br /><br />
	  <p>
	    <label class="not-indented" for="avatar">Upload your avatar</label>
	    <%= f.file_field :uploaded_data %>
	  </p>
	  <p><%= image_submit_tag('button-upload.png')%></p>
	<% end -%>
</div>