<div id="main-col">
	<h1>Reset your password</h1>
	<% form_tag url_for( :action => 'password_reset_change' ), :id => 'password_recover', :class => 'main-form' do -%>
	
	<p><label class="not-indented" for="password">New password</label>
	<%= password_field_tag 'password' %></p>
	<p><label class="not-indented" for="password-confirmation">Confirm new password</label>
	<%= password_field_tag 'password_confirmation' %></p>
	<%= hidden_field_tag 'email', @email %>
	<%= hidden_field_tag 'token', @token %>
	
	<p><%= image_submit_tag('button-recover.png') %></p>
	<% end -%>
</div>