<div id="main-col">
	<%= render :partial => 'account_submenu' %>
	<%= error_messages_for :user %>	
		<% form_for(:user, :url => url_for( :action => 'update_password' ), :html => {:id => 'account_edit', :class => 'main-form tabbed-form'} ) do |f| -%>
		  <p>
		    <label for="name">Password</label>
		    <%= f.password_field :password %>
		  </p>
		  <p>
		    <label for="password_confirm">Confirmation</label>
		    <%= f.password_field :password_confirmation %>
		  </p>
		  <p class="form-submit"><%= image_submit_tag('button-update.png')%></p>
		<% end -%>
</div>