<div id="info_col">
  <p><%= avatar_for_user( @user, 'medium', false ) %></p>
  <h3><p><%= @user.name || @user.login %></p></h3>
  <p><%= link_to_follow_or_remove(@user) %></p>
  <p>
    Quizzs: <strong><%= @user[:quizzs].to_s %></strong>
	<br/>
    Answers: <strong><%= @user[:answers].to_s %></strong>
	<br/>
	Won: <strong><%= @user[:won].to_s %></strong> (<%= @user[:ratio] || '-' %>%)
  </p>
  <br />
  <p><%= link_to @user[:followings].size.to_s + ' followings', url_for( :controller => 'users', :user => @user.login, :action => 'followings' ) %></p>
  <div id='following-list' class="avatar-list">
    <%= render :partial => '/followed', :collection => @user[:followings] %>
  </div>  
  <p><%= link_to @user[:followers].size.to_s + ' followers', url_for(:controller => 'users', :user => @user.login, :action => 'followers' ) %></p>
  <div id='followers-list' class="avatar-list">
    <%= render :partial => '/follower', :collection => @user[:followers] %>
  </div>
</div>