<div id="info_col" class="sidebar">
  <p><%= avatar_for_user( @user, 'medium', false ) %></p>
  <h3><p><%= @user.name || @user.login %></p></h3>
  <p><%= (Time.now.year - @user.birthdate.year).to_s if @user.birthdate %><%= gender_for_user(@user.gender) if @user.gender %><%= ', ' + @user.city if (!@user.city.nil? && !@user.city.empty?) %><%= ', ' + @user.country if (!@user.city.nil? && !@user.country.empty?) %></p>
  <%= content_tag :p, link_to( @user.website, @user.website), :class => 'website' if (!@user.website.nil? && !@user.website.empty?) %>
  <p><%= link_to_follow_or_remove(@user) %></p>
  <ul id="user_stats">
    <li><span class="stat">Quizzs:</span><span class="value"><strong><%= @user[:quizzs].to_s %></strong></span></li>
    <li><span class="stat">Answers:</span><strong><%= @user[:answers].to_s %></strong></li>
	<li><span class="stat">Won:</span><strong>(<%= @user[:ratio] || '-' %>%) <%= @user[:won].to_s %></strong></li>
  </ul>
  <br />
  <h3><%= link_to @user[:followings].size.to_s + ' followings', url_for( :controller => 'users', :user => @user.login, :action => 'followings' ) %></h3>
  <div id='following-list' class="avatar-list">
    <%= render :partial => '/followed', :collection => @user[:followings] %>
  </div>
  <br />
  <h3><%= link_to @user[:followers].size.to_s + ' followers', url_for(:controller => 'users', :user => @user.login, :action => 'followers' ) %></h3>
  <div id='followers-list' class="avatar-list">
    <%= render :partial => '/follower', :collection => @user[:followers] %>
  </div>
</div>