<div id="info-col">
  <p><%= avatar_for_user( @user, 'thumb' ) %> <%= link_to_user(@user) %> <%= link_to_follow(@user) %></p>
  <p>
    Quizzs: <strong><%= @quizzs.size.to_s %></strong>
	<br/>
    Answers: <strong><%= @answers.size.to_s %></strong>
	<br/>
	Won: <strong><%= @won.size.to_s %></strong> <%= @answers.size > 0 ? "(#{(@won.size*100) / @answers.size}%)" : nil %>
  </p>
  <br />
  
  <p><%= link_to @followings.size.to_s + ' followings', url_for( :controller => 'users', :user => @user.login, :action => 'followings' ) %></p>
  <div id='following-list' class="avatar-list">
    <%= render :partial => '/followed', :collection => @followings %>
  </div>  
  <p><%= link_to @followers.size.to_s + ' followers', url_for(:controller => 'users', :user => @user.login, :action => 'followers' ) %></p>
  <div id='followers-list' class="avatar-list">
    <%= render :partial => '/follower', :collection => @followers %>
  </div>
</div>