<ul id="top_menu">
<% if !@me.nil? %>
	<li>logged as: <%= avatar_for_user(@me, :micro, false ) %> <%= link_to_user(@me, false) %> | <%= link_to 'logout', logout_path, :id => 'logout' %></li>
	<li><a href="/home">Home</a></li>
    <li><%= link_to 'Account', url_for( :controller => 'account', :action => 'profile' ) %></li>
<% else %>
	<li><%= link_to 'login', login_path %> or <%= link_to 'signup', signup_path %></li>
<% end %>
	<li><a href="/help">Help</a></li>
</ul>
